.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;

    &__img {
        width: 50px;
    }

    &__testimonial {
        font-weight: 500;
        font-size: 15.5px;
        margin-top: -1.25rem;
    }

    &__info__name {
        font-weight: 700;
        font-size: 15px;
        margin: 0;
    }

    &__info__position {
        font-weight: 300;
        font-size: 15px;
        margin: 0 auto 4rem;
    }
}